<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">FormAndWork</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [class.active]="
              strRuta == '/home' || strRuta == '/' || strRuta == ''
            " aria-current="page" href="/home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="
            strRuta == '/admin/empresa/plist'" 
            href="/admin/empresa/plist">Empresas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [class.active]="
            strRuta == '/admin/sector/plist'" 
            href="/admin/sector/plist">Sectores</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [class.active]="
            strRuta == '/admin/alumno/plist'" 
            href="/admin/alumno/plist">Alumnos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [class.active]="
            strRuta == '/admin/oferta/plist'" 
            href="/admin/oferta/plist">Ofertas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [class.active]="
            strRuta == '/admin/candidatura/plist'" 
            href="/admin/candidatura/plist">Candidaturas</a>
        </li>
      </ul>
    </div>

    <div class="item-login ">
      <a class="btn-login" href="/login" role="button">Login</a>
    </div>

  </div>

  @if(activeSession){
    <div class="item-login">
      <a class="btn-login" href="/logout" role="button">Logout</a>
      {{userEmail}}
    </div>
  }@else {
    <div class="item-login">
      <a class="btn-login" href="/login" role="button">Login</a>      
    </div>
  }



</nav>