<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'/home'">FormAndWork</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    @if (activeSession) {
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link"
             [class.active]="strRuta == '/home' || strRuta == '/' || strRuta == ''"
             [routerLink]="'/home'">Inicio</a>
        </li>

        <!-- Ocultar a EMPRESA -->
        <li class="nav-item" *ngIf="!isEmpresa">
          <a class="nav-link"
             [class.active]="strRuta == '/admin/empresa/plist'"
             [routerLink]="'/admin/empresa/plist'">Empresas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             [class.active]="strRuta == '/admin/sector/plist'"
             [routerLink]="'/admin/sector/plist'">Sectores</a>
        </li>

        <!-- Ocultar a ALUMNO -->
        <li class="nav-item" *ngIf="!isAlumno">
          <a class="nav-link"
             [class.active]="strRuta == '/admin/alumno/plist'"
             [routerLink]="'/admin/alumno/plist'">Alumnos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             [class.active]="strRuta == '/admin/oferta/plist' || strRuta == '/oferta/plist'"
             [routerLink]="activeSession ? '/admin/oferta/plist' : '/oferta/plist'">Ofertas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             [class.active]="strRuta == '/admin/candidatura/plist'"
             [routerLink]="'/admin/candidatura/plist'">Candidaturas</a>
        </li>
      </ul>
    </div>

    } @else {

    <!-- Sin sesión: solo Inicio y Ofertas (pública) -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"
             [class.active]="strRuta == '/home' || strRuta == '/' || strRuta == ''"
             [routerLink]="'/home'">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [class.active]="strRuta == '/oferta/plist'"
             [routerLink]="'/oferta/plist'">Ofertas</a>
        </li>
      </ul>
      <span class="navbar-session">Inicia sesión para ver más</span>
    </div>

    }

    @if(activeSession){
      <div class="item-login">
        <a class="btn-login" [routerLink]="'/logout'" role="button">Logout</a>
        {{userEmail}} 


      </div>
    }@else {
      <div class="item-login">
        <a class="btn-login" [routerLink]="'/login'" role="button">Login</a>
      </div>
    }

  </div>
</nav>
