<div class="row justify-content-center m-4">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="card shadow-lg rounded-4 oferta-view-card">
      <div class="card-body p-5">
        <h2 class="titulo-oferta">
          {{ oOferta.titulo }}
        </h2>

        <hr class="mb-4" />

        <div class="info-row">
          <span class="label bg-danger text-white">ID</span>
          <span class="value">{{ oOferta.id }}</span>


          <div class="info-row">
            <span class="label bg-primary text-white">Sector</span>
            <span class="value">{{ oOferta.sector?.nombre }}</span>
          </div>
          <div class="info-row">
            <span class="label bg-primary text-white">Empresa</span>
            <span class="value">{{ oOferta.empresa?.nombre }}</span>
          </div>



        </div>
        <div class="info-row">
          <span class="label bg-primary text-white">Descripción</span>
          <span class="value">{{ oOferta.descripcion }}</span>
        </div>


        <div class="d-flex justify-content-center mt-5 gap-3 flex-wrap">
          <a class="btn btn-warning" href="/admin/oferta/plist">
            <i class="bi bi-list"></i> Listado
          </a>
        </div>
      </div>
    </div>
  </div>
</div>