<div class="container mt-5 d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col text-center">
      <h2 class="my-2">
        <i class="bi bi-plus-square"></i>
        Creación de Empresa
        <i class="bi bi-person-circle"></i>
      </h2>
      <form [formGroup]="oEmpresaForm!" (ngSubmit)="onSubmit()" novalidate>
        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Nombre de la Empresa</mat-label>
            <input
              matInput
              formControlName="nombre"
              placeholder="Nombre de la Empresa..."
            />
            <mat-hint align="start">De 3 caracteres a 50 caracteres</mat-hint>
            <mat-error *ngIf="oEmpresaForm?.get('nombre')?.hasError('required')">Este campo es obligatorio</mat-error>
            <mat-error *ngIf="oEmpresaForm?.get('nombre')?.hasError('minlength')">El nombre debe ser más largo</mat-error>
            <mat-error *ngIf="oEmpresaForm?.get('nombre')?.hasError('maxlength')">El nombre debe ser más corto</mat-error>
          </mat-form-field>
        </div>
        
        <div formGroupName="sector">
          <div class="row mt-4">
            <mat-form-field>
              <mat-label>SECTORES</mat-label>
              <div class="d-flex justify-content-end">
                <button class="btn btn-primary" (click)="showSectorSelectorModal()">
                  <i class="bi bi-search"></i>
                  Buscar
                </button>
              </div>
              <div class="d-flex justify-content-start">
              </div>
                {{ oSector?.id }} - {{ oSector?.nombre }}
              <input matInput formControlName="id" placeholder="Tipo Cuenta" />
            </mat-form-field>
          </div>
        </div>
        <br />
        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="email"
              placeholder="Email de la empresa"
              required
            />
            <mat-hint align="start">Formato email</mat-hint>
            <mat-error *ngIf="oEmpresaForm?.get('email')?.hasError('required')">Debes introducir un email</mat-error>
            <mat-error *ngIf="oEmpresaForm?.get('email')?.hasError('email')">Debes introducir un email correcto</mat-error>
          </mat-form-field>
        </div>
        <br />
        <button
          class="btn btn-warning mt-4 mx-1"
          [routerLink]="['/admin', 'Empresa', 'plist']"
        >
          <i class="bi bi-list"></i>
          Ir a listado de Empresas
        </button>

        <button class="btn btn-secondary mt-4 mx-1" (click)="onReset()">
          <i class="bi bi-x-lg"></i>
          Reset
        </button>

        <button
          class="btn btn-primary mt-4 mx-1"
          type="submit"
          [disabled]="!oEmpresaForm?.valid"
        >
        <i class="bi bi-floppy"></i>
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>
